html{
  background-color: white;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font: 16px "Century Gothic", Futura, sans-serif;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
}

.picked-color{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

canvas {
  display: block;
  background-color: transparent;
}